<html>
<head>
    <title>[% page.title | html %]</title>
[%- IF (page.refresh) %]
    <meta http-equiv="Refresh" content="[% page.refresh.timeout || 5 %]; url=[% page.refresh.uri %]">
[% END -%]
</head>
<body>
<ul id="main_navigation">
    <li><a href="[% c.uri_for('/member') %]">Member</a></li>
</ul>
<div id="content">
[% content %]
</div>
</body>
</html>
